html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section1{
    width: 100%;
    height: 100%;
    background-image: url(/tony-litvyak-mIV4MFublGg-unsplash.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
    
}

#first{
    background-color:rgba(233, 241, 250, 0.76);
    height: 738px;
    width:100%
}


.header {
    display: flex;
    gap: 20em;
    background-color:rgba(1, 57, 88, 0.76);
    
}
a{
    text-decoration: none;
}
.logo{
    display: flex;
    
    font-size: 55px;
    
    font-family: 'Caveat', cursive;
font-family: 'Dancing Script', cursive;
margin-left: 20px;
}
.logo a{
    color:  #00ABE4;
}
.logo a:hover{
    color:#FFFFFF;
  
}
.navbar {
    gap: 3.5rem;
    display: flex;
    justify-content: center;
}
.navbar a{
    font-family: 'Permanent Marker', cursive;
   font-size: 18px;
   color: #00ABE4;
   font-weight: 500;
   transition: 0.2s;
  
}

.navbar a:hover{
    color:#FFFFFF;
   
   ;
}
.cloud {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 100px;
    color:  #00ABE4;
   }
   .cloud:hover{
    color:#FFFFFF;
   }

   .grid{
    display: grid;
    height: 70vh;
    gap: 2rem;
    grid-template-columns: 0.2fr 1fr 0.04fr 0.5fr 0.2fr;
    grid-template-rows: 1fr 1fr 0.1fr;
    margin-top: 50px;
    
    }
    .grid1{
    
    grid-column: span 2;
    grid-column-start: 2;
    
    
    
    }

    .grid2{
        
        grid-column: span 2;
        grid-column-start: 2;
       
        }
    .grid3{   
        grid-row-start: 1 ;
        grid-row-end: 3;
        grid-column-start:4 ;
        grid-column-end: 5;
        
    border-radius: 7px;
    padding: 20px;
    background: url(/adam-nowakowski-D4LDw5eXhgg-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
     }
.title{
    display: flex;
    
    justify-content: center;
    font-family: 'Abel', sans-serif;
font-family: 'Permanent Marker', cursive;
font-size: 2rem;
font-style: oblique;
color: rgb(1, 57, 88);
}
.info{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
    font-size: 1.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color:#333333;
}


#second{
    background-color: rgba(233, 241, 250, 0.76);
    
    height: 1700px;
    width:100%
}
.align{
    display: flex;
    justify-content: center;
    width:51%;
}

h1{
    font-family: 'Abel', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Permanent Marker', cursive;
font-size: 45px;

}
.content {
    display: grid;
    grid-template-columns: 0.01fr 1fr 1fr 0.01fr;
    grid-template-rows: 1fr;
    grid-column-gap: 5.5rem;
    margin-top: 28px;
}
.content1 {
    text-align: left;
    font-size: 1.1rem;
    color: rgb(51, 51, 51);
    grid-column-start: 2;
    grid-column-end: 3;
}

.content2 {
    display: grid;
    border-radius: 20px;
    background-image: url(/array.png);
    background-size: 616.912px 270.400px;
    position: relative;
    overflow: hidden;
    grid-column-start: 3;
    grid-column-end: 4;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 130vh;
    gap: 2rem;
    margin-top: 140px;
    margin-left: 15px;
    margin-right: 15px;
}
.array {
    background-color:;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr;
    gap: 0.2rem;
    
}
.inside{
    background-color:rgba(0, 171, 228, 0.45);
    border-radius: 10px;
  
    
}
.topic{
    font-family: 'Abel', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Permanent Marker', cursive;
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    grid-column: span 2;
}

.description {
    grid-row: span 2;
    text-align: left;
    
    font-size: 1.65rem;
}
.gif{
    display: grid;
    place-items: center;
}
.iframe {
    position: relative;
    padding-top: 89%;
    width: 100%;
    height: 100%;
}

.iframe iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

ul{
    margin-left: 1.6rem;
}
li{
    font-size: 1.8rem;
    list-style:square;
}

li a{
    color: #333333;
}
li a:hover{
    color: #00ABE4;
}
#third{
    background-color: rgba(233, 241, 250, 0.76);
    
    height: 1500px;
    width:100%
}
.align2{
    display: flex;
    justify-content: center;
    
}
.content3 {
    display: grid;
    
    
    text-align: left;
    font-size: 1.3rem;
    color: rgb(51, 51, 51);
    
    grid-column-start: 2;
    grid-column-end: 4;
}
.content4 {
    display: grid;
    border-radius: 20px;
    background-image: url(/Strings.png);
    background-size: 683.83px 216px;
    position: relative;
    background-repeat: no-repeat;
    overflow: hidden;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    
}
.gridthird {
    display: grid;
    grid-template-columns: 0.2fr 1fr 0.2fr 1fr 0.2fr;
    height: 100vh;
    gap: 1rem;
    grid-template-rows: 1fr;
    margin-top: 120px;
}
.array2{
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.07fr 0.35fr 0.35fr;
    gap: 0.2rem;

     
}
.array3{
    grid-column-start: 4;
    grid-column-end: 5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.07fr 0.35fr 0.35fr;
    gap: 0.2rem;

     
}
.stringcontent{
    display: grid;
    grid-template-columns: 0.2fr 0.25fr 0.25fr 0.25fr 0.2fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    row-gap: 3rem;
    margin-top: 70px;

}
#forth{
    background-color: rgba(233, 241, 250, 0.76);
    
    height: 400px;
    width:100%
}
.align3{
    display: flex;
    
}
p{
    font-size: 200px;
    text-align: center;
}

.up{
    font-size: 50px;
    text-align: right;
}